@import 'variables';

.pill {
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  font-size: 0.95rem;
  padding: 5px 12px;
  transition: .3s;

  &:hover {
    background-color: $light-grey !important;
  }

  i {
    margin-right: 2px;
  }
}
