@import 'variables';

.fieldset {
  border: 2px solid $tertiary-background;
  padding: 30px 15px 15px;
  position: relative;

  &__toggle {
    background-color: $tertiary-background;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.95rem;
    color: $white;
    left: 10px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    transition: .3s;
  }
}
