<div class="modal">
  <app-overlay *ngIf="opened" @fade-overlay (click)="close()"></app-overlay>
  <div *ngIf="opened" @fade-modal class="modal__wrapper">
    <div class="modal__title">
      <div class="modal__title-text">
        {{ title }}
      </div>
      <button appAutoFocus class="modal__title-close-icon" (click)="close()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal__content">
      <ng-content select="[body]"></ng-content>
    </div>
    <hr class="modal__divider">
    <div class="modal__actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>
</div>
