@import 'index';

.toolbar {
  align-items: center;
  background-color: $blue;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  @include box-shadow;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $tablet) {
    display: block;
  }

  &__menu {
    display: none;
    margin-left: 10px;
    position: relative;

    i {
      top: 50%;
      transition: .3s;
      position: absolute;
      right: 0;
      transform: translateY(-50%);

      &.hidden {
        opacity: 0;
      }
    }

    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__content {
    @media (max-width: $mobile) {
      display: none;

      &--shown {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      margin-top: 15px;
    }
  }
}
