@import 'index';

:host {
  background-color: $blue;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  @include box-shadow;
}

.toolbar {
  align-items: center;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  max-width: $max-width;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $tablet) {
    display: block;
  }

  &__menu {
    display: none;
    margin-left: 10px;
    position: relative;

    i {
      transition: .3s;
      position: absolute;
      right: 0;
      @include transformY();

      &.hidden {
        opacity: 0;
      }
    }

    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__content {
    @media (max-width: $mobile) {
      display: none;

      &--shown {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      margin-top: 15px;
    }
  }
}
