@import 'index';

.top-of-page {
  background-color: $red;
  bottom: 20px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  outline: none;
  position: fixed;
  right: 20px;
  transition: .3s;
  transform: scale(0);
  width: 60px;
  @include box-shadow();

  &--visible {
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
    }

    &:active  {
      transform: scale(0.9);
    }
  }

  &__icon {
    color: $white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
