<form class="password" [formGroup]="form">
  <div
    class="password__input-wrapper"
    [class.password__input-wrapper--invalid]="invalid">
    <label class="password__label">
      <input
        class="password__input"
        [type]="type"
        formControlName="password"
        placeholder="Password"
      />
      <i
        aria-hidden="true"
        class="password__input-icon fas fa-key"
      ></i>
      <i
        aria-hidden="true"
        class="password__input-icon password__input-icon--right fas"
        [ngClass]="icon"
        (click)="onToggleVisibility()"
      ></i>
    </label>
    <app-progress-bar [value]="status" [colored]="true"></app-progress-bar>
    <div *ngIf="password as field" class="password__message">
      <div *ngIf="password.errors?.required">
        Please, enter Password.
      </div>
      <div *ngIf="field.errors?.minlength">
        Should be equal or greater than 6 symbols.
      </div>
      <div *ngIf="field.errors?.oneCapitalLetterOrMore">
        One or more capital letters required.
      </div>
      <div *ngIf="field.errors?.oneNumberOrMore">
        One or more numbers required.
      </div>
      <div *ngIf="field.errors?.oneSpecialCharacterOrMore">
        One or more special characters required.
      </div>
    </div>
  </div>
</form>
