<app-accordion class="wrapper">
  <app-accordion-item title="Accordion" [opened]="true">
    <ng-template>
      <app-card title="Accordion" subtitle="Components" color="#929293">
        <app-accordion body>
          <app-accordion-item title="Title 1" [opened]="true">
            <ng-template>
              <p>Counter {{ value }}</p>
              <button (click)="onUpdate()">Click</button>
            </ng-template>
          </app-accordion-item>
          <app-accordion-item title="Title 2">
            <ng-template>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptatem et officiis, exercitationem est
                vel? Iste expedita quas reiciendis doloribus.
              </p>
            </ng-template>
          </app-accordion-item>
        </app-accordion>
      </app-card>
    </ng-template>
  </app-accordion-item>
</app-accordion>

<div class="cards-wrapper">
  <app-card title="Card" subtitle="Components" icon="fas fa-info-circle">
    <p body>Body Content</p>
    <p footer>Footer Content</p>
  </app-card>

  <app-card title="Title" subtitle="Subtitle" color="#ff6058">
    <p body>Body Content</p>
    <p footer>Footer Content</p>
  </app-card>
</div>

<app-card class="wrapper" title="Counter" subtitle="Components">
  <app-counter body></app-counter>
</app-card>

<app-card class="wrapper" title="Credit Card Input" subtitle="Components" color="#929293">
  <div body>
    <app-credit-card-input value="4916338506082832"></app-credit-card-input>
    <br>
    <app-credit-card-input [readonly]="true" value="3529000000001234"></app-credit-card-input>
  </div>
</app-card>

<app-card class="wrapper" title="Debounce Search" subtitle="Components">
  <app-debounce-search body [value]="search" (search)="onSearch($event)"></app-debounce-search>
  <span footer>{{ search }}</span>
</app-card>

<app-card class="wrapper" title="Email Form" subtitle="Components">
  <app-email-form body></app-email-form>
</app-card>

<app-card class="wrapper" title="LinkedIn Post" subtitle="Components">
  <app-linkedin-post body></app-linkedin-post>
</app-card>

<app-card class="wrapper" title="Modal" subtitle="Components">
  <div body>
    <app-modal #exampleModal body title="Modal Title" (open)="onModalOpen()">
      <p body>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati suscipit
        non dignissimos ratione ab voluptas et eum rem aliquid.
      </p>
      <div actions>
        <button (click)="onToggleModal()">OK</button>
      </div>
    </app-modal>
    <button class="open-modal" (click)="onToggleModal(true)">Open Modal</button>
  </div>
</app-card>

<app-card class="wrapper" title="Paging" subtitle="Components">
  <app-paging body></app-paging>
</app-card>

<div style="position: relative;">
  <app-card class="wrapper" title="Loader" subtitle="Components" icon="fas fa-info-circle">
    <div body>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illum quibusdam iste tenetur, quos adipisci magnam,
      quaerat, aliquid eaque omnis maxime corporis sequi at eum consequatur. Blanditiis exercitationem magnam repellendus.
      <app-loader [shown]="loader" [type]="loaderType"></app-loader>
    </div>
  </app-card>
</div>

<div footer class="wrapper">
  <button style="margin-right: 5px;" (click)="loader = !loader">{{ loader ? 'Hide' : 'Show' }} loader</button>
  <button class="change-loader" (click)="onChangeLoader()">Change loader</button>
</div>

<app-card class="wrapper" title="Progress Bar" subtitle="Components" color="#929293">
  <ng-container body>
    <app-progress-bar [value]="value"></app-progress-bar>
    <br>
    <button (click)="onUpdate()">Update</button>
  </ng-container>
</app-card>

<app-card class="wrapper" title="Quote" subtitle="Components">
  <app-quote body [quote]="quote" [colors]="quoteColors"></app-quote>
</app-card>

<app-card class="wrapper" title="Rich Text Viewer" subtitle="Components">
  <app-rich-text-viewer body [value]="richTextValue"></app-rich-text-viewer>
</app-card>

<app-card class="wrapper" title="Search List" subtitle="Components">
  <app-search-list body [values]="['JavaScript', 'Java', 'TypeScript']"></app-search-list>
</app-card>

<ng-container *ngIf="users$ | async as users">
  <app-card class="wrapper" title="Simple Table" subtitle="Components">
    <app-simple-table body [data]="users"></app-simple-table>
  </app-card>

  <app-card class="wrapper" title="Sort Table" subtitle="Components">
    <app-sort-table body [data]="users" sortedBy="name"></app-sort-table>
  </app-card>
</ng-container>

<app-card class="wrapper" title="Star Ratings" subtitle="Components">
  <app-star-ratings body [value]="3.5"></app-star-ratings>
</app-card>

<app-card class="wrapper" title="Tabs" subtitle="Components">
  <app-tabs body [tabs]="tabs">
    <ng-template>
      <app-toggle [checked]="true"></app-toggle>
    </ng-template>
    <ng-template>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae architecto sint aut quis quibusdam.
        Repudiandae adipisci placeat consequuntur est magnam!
      </p>
    </ng-template>
    <ng-template>
      <app-quote body [quote]="quote" [colors]="quoteColors"></app-quote>
    </ng-template>
  </app-tabs>
</app-card>

<app-card class="wrapper" title="Toggle" subtitle="Components">
  <app-toggle body (check)="checked = !checked"></app-toggle>
  <p footer>{{ checked ? 'Checked' : 'Not checked' }}</p>
</app-card>

<app-card class="wrapper" title="Twitter Post" subtitle="Components" color="#929293">
  <app-twitter-post body></app-twitter-post>
</app-card>
