<app-toolbar title="100 Angular Challenges">
  <ul>
    <li>
      Components
    </li>
    <li>
      Directives
    </li>
    <li>
      Services
    </li>
    <li>
      Pipes
    </li>
    <li>
      Other
    </li>
  </ul>
</app-toolbar>

<div class="cards-wrapper">
  <app-card title="Card" subtitle="Component" icon="fas fa-info-circle">
    <p body>Body Content</p>
    <p footer>Footer Content</p>
  </app-card>

  <app-card title="Title" subtitle="Subtitle" color="#ff6058">
    <p body>Body Content</p>
    <p footer>Footer Content</p>
  </app-card>
</div>
