app-toolbar {
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
  }

  li {
    cursor: pointer;
    padding: 0 10px;

    &:first-child,
    &:last-child {
      padding-left: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.wrapper {
  padding: 10px;
}

.cards-wrapper {
  display: flex;
  padding: 10px 5px;

  app-card {
    padding-left: 5px;
    padding-right: 5px;
  }
}
