@import 'variables';

app-toolbar {
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $mobile) {
      display: block;
      flex-wrap: wrap;

      li {
        padding: 0 0 15px 0;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  li {
    cursor: pointer;
    padding: 0 10px;

    &:first-child,
    &:last-child {
      padding-left: 0;
    }

    &.active,
    &:hover {
      a:after {
        width: 100%;
      }
    }

    a {
      color: $white;
      text-decoration: none;

      &::after {
        background: $white;
        content: '';
        display: block;
        height: 1.5px;
        transition: .3s;
        width: 0;
      }
    }
  }
}
