@import 'index';

.table-wrapper {
  overflow: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    @include box-shadow();
  }

  tbody {
    tr {
      transition: .3s;

      &:hover {
        background-color: $light-grey2;
      }
    }
  }

  td,
  th {
    border-bottom: 1px solid $light-grey2;
    padding: 5px;
  }

  th {
    text-align: left;
    text-transform: uppercase;
  }

  .sorted {
    cursor: pointer;

    i {
      color: $blue;
      opacity: 0;
      margin-left: 5px;
      transition: .3s;

      &.asc {
        transform: rotate(180deg);
      }

      @media (max-width: $tablet) {
        opacity: 1;
      }
    }

    &:hover {
      i {
        opacity: 1;
      }
    }
  }
}
