@import 'index';

.table-wrapper {
  overflow: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    @include box-shadow();
  }

  tbody {
    tr {
      transition: .3s;

      &:hover {
        background-color: $light-grey2;
      }
    }
  }

  td,
  th {
    border-bottom: 1px solid $light-grey2;
    padding: 5px;
  }

  th {
    text-align: left;
    text-transform: uppercase;
  }
}
