<div class="table-wrapper" *ngIf="data?.length">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let item of data[0] | keyvalue: order"
          [class.sorted]="sorted"
          (click)="sorted && onSort(item.key)"
        ><span>{{ item.key }}</span>
          <i *ngIf="sorted" class="fas fa-arrow-down" [class.asc]="asc"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of data; let idx = index">
        <td *ngFor="let item of obj | keyvalue: order">{{ item.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
