<app-card class="wrapper" title="Local Storage" subtitle="Services" icon="fas fa-info-circle">
  <div body>{{ state$ | async | json }}</div>
  <button footer (click)="onUpdateState()">Update State</button>
</app-card>

<div style="position: relative;">
  <app-card class="wrapper" title="Users" subtitle="Services" icon="fas fa-info-circle">
    <div body>
      <div *ngIf="user$ | async as user; else loader">{{ user | json }}</div>
      <ng-template #loader>
        <app-skeleton-loader></app-skeleton-loader>
      </ng-template>
    </div>
  </app-card>
</div>
