@import 'index';

.banner-cut-out {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 400px;
  padding: 20px;
  @include box-shadow();

  &__text {
    align-self: center;
    background-color: $white;
    border-radius: 5px;
    color: $black;
    font-size: 1.8rem;
    letter-spacing: 5px;
    mix-blend-mode: screen;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
  }
}
