@import 'assets/scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html,
body,
app-root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

i {
  cursor: pointer;
}

.wrapper {
  display: block;
  padding: 10px;
}

.toolbar {
  align-items: baseline !important;
}

button {
  background-color: $blue;
  border: 3px solid $blue;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  padding: 5px 8px;
  transition: .3s;
  @include box-shadow();

  &:hover {
    border: 3px solid $blue;
    background-color: $white;
    color: $blue;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: $light-grey;
    border-color: $light-grey;
    color: $white;
    cursor: not-allowed;
  }
}

input {
  padding: 5px 10px;
}

.ripple {
  background-position: center;
  transition: .8s;

  &:hover {
    background: lighten($blue, 5) radial-gradient(circle, transparent 1%, $blue 1%) center/15000%;
    border-color: transparent;
    color: $white;
    transition: background .8s;
  }

  &:active {
    background-color: lighten($blue, 40);
    background-size: 100%;
    border-color: transparent;
    transition: background 0s;
  }
}

.d-flex {
  display: flex;
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.snackbar-wrapper {
  bottom: 0;
  position: fixed;
  width: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
