<div class="accordion" *ngIf="items.length">
  <div *ngFor="let item of items" class="accordion__item">
    <div class="accordion__title">
      <h4 class="accordion__title-text">
        {{ item.title }}
      </h4>
      <div class="accordion__title-icon" [class.accordion__title-icon--opened]="item.opened" (click)="item.toggle()">
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div *ngIf="item.opened" @toggle class="accordion__content">
      <ng-template [ngTemplateOutlet]="item.template"></ng-template>
    </div>
  </div>
</div>
